[flake8]
max-line-length = 120
exclude = build,external,installed,.git,__pycache__,*.egg-info,venv,env
ignore = E203, W503
# E203: whitespace before ':' (black compatibility)
# W503: line break before binary operator (black compatibility)
